.stori_info{
	width:90%;
	height:70%;
	background-color: red; 
}
    
h1 {
    font-size: 100px;
    font-style:bold;
    text-align:center;
    color: black;
}
body{
    background-color: white;
}

.UpperBar{
    width: 100%;
    height: 50px;
    /*background-color: #0081AF;*/
    background-color: #000033;
}

.box {
    border: 1px #FFDD99;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: #FFDD99;
}

#add_pic_url {
    border-width: 10;
    border-color: black;
    margin-left: 50%;
    width: 50%;
    height:100;
}
.custom_form{/*
    border-style: solid;
    border-width: 10;
    border-color: black;*/
    font-size: 18px;
    margin-bottom: 50px;
}
#add_form{
    width: 50%;
    height: 100%;
    margin-right: 50%;
}
.h1-5{
    margin-left: 50px;
    margin-bottom:30px;
    margin-right: 50px;
    margin-top: 150;
    font-size: 56px;
    text-align: center;
}

.linkbutton1{
    border:none;
    display:inline-block;
    outline:0;
    padding:14px 133px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:white;
    background-color:#000033!important;

    text-align:center;
    cursor:pointer;
    white-space:nowrap
}

legend{
    font-size: 14px;
}
input {
    font-size: 18px;
    margin-bottom: 20px;

