.stori_info{
	width:90%;
	height:70%;
	background-color: red; 
}

#logo{
    text-align: center;
}
    
h1 {
    font-size: 100px;
    font-style:bold;
    text-align:center;
    color: black;
}
body{
    background-image: : "/home/student/Desktop/Y2S17-seed-app/templates/book.jpg;"
}

.UpperBar{
    width: 100%;
    height: 50px;
    /*background-color: #0081AF;*/
    background-color: #000033;
}

.box {
    border: 1px #F5F7C1;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: #F5F7C1; 
}

#add_pic_url {
    position: all;
    border-width: 10;
    border-color: black;
    margin-left: 50%;
    width: 50%;
    height:100;
}

.custom_form{
    font-size: 18px;
    margin-bottom: 50px;
    margin-top: 20px;
    margin-left:50px;
}

#add_form{
    width: 50%;
    height: 100%;
}

.subtitle{
    text-align: left;
    font-size:36px;
    margin-left: 50px;
}

.h1-5{
    margin-left: 50px;
    margin-bottom:30px;
    margin-right: 50px;
    margin-top: 150;
    font-size: 56px;
    text-align: center;
}

.linkbutton1{
    border:none;
    display:inline-block;
    outline:0;
    padding:14px 122px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:white;
    background-color:#000033!important;

    text-align:center;
    cursor:pointer;
    white-space:nowrap
}

legend{
    font-size: 14px;
}
input, textarea {
    font-size: 18px;
    margin-bottom: 20px;

}
.location_read_button{

    position:relative;
    transition: .5s ease;
    top: 70px;
    left: 940px;
    right: 100px;
    bottom: -191px;
    /*bottom:0;
    right:0;*/
}





#container {
    background-image: url('../img/background.jpg');
    background-repeat:no-repeat;

   background-size:cover;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}