  {% extends "layout.html" %}
  {% block title %}Add Stori{% endblock %}

  {% block content %}
    <h2>Write your own Stori!</h2>
    <div id="add_form">
    <form style="margin-left: 50px;">

    Stori Name:
    <br>
    <input type="text" name="stori_name" placeholder="Choose a name..."> 
    <br>
    Author: 
    <br>
    <input type="text" name="author_name" placeholder="Your name...">
    <br>
    Tags: 
    <br>
    <input type="text" name="tags" placeholder="Don't forget the hashtags!">
    <br>
    Stori: 
    <br>
    <textarea name="stori_" style="width: 90%; height: 200px;" placeholder="Write here..."></textarea>
    </div> 

    <div id="add_pic_url">
    hello
    </div>
    </form>

    {% endblock %}
	