{% extends "layout.html" %}
{% block title %}  Home {% endblock %}

{% block content %}
<h1 class= "subtitle"> Top: </h1>

{% for box in stori_list %}

<div class="box">

  <div class="box_content">
    

      <h1 class="stori_title">{{box.name}}</h1>
  
      {% if box.pic_url == '' %}
      <img class="box_img" src="../static/img/missing-book-black.jpg" alt="picture_{{box.id}}">
      {% else %}
      <img class="box_img" src="{{box.pic_url}}" alt="picture_{{box.id}}">
      {% endif %}
    
      <div class="box_info">
        <div class="box_description">
          {{ box.description }}
        </div>
        <div class="box_author">
        By: {{ box.author }}
        </div>
      </div>

      <br>

      
      <a class="read_stori_button" href="{{url_for('index_stori',stori_id=box.id)}}">
      <button>Read Full Stori</button>
      </a> 

      <div class="box_rating">
        {{box.rating}}
        <a onclick="AddUpvote()"><img id="upvote" src="static/img/upvote-grey.gif" ></a>
      </div>

<!--       <div class="box_tags">
        {# fixtags(box.tags) #}
      </div> -->

  </div>

</div>

{% endfor %}
{% endblock %}