<!DOCTYPE html>
<html>
  <head>
      <title>STORI</title>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>

  </head>
  <body>
  <h1>Stori</h1>
  <div class="UpperBar">

  </div>

  <h2 style="margin-left: 50px; margin-bottom:100px;margin-right: 150;margin-top: 150"> Top: </h2>

{% for box in stori_list %}
<div class="box">
  <p>
          <div class="tweet-container">
            <a href="BROKEN-LINK-FIX-ME" class="btn btn-info" role="button">Edit</a>
            <div class="tweet-body">
              <img class="tweet-img" src="{{box.pic_url}}" alt="picture-{{box.id}}">
              <div class="tweet-text">{{box.description}}</div>
            </div>
            <div class="tweet-footer">
              <div class="tweet-user">{{box.author}}</div>
              <div class="tweet-user">{{box.location}}</div>
              <div class="tweet-user">{{box.favorite_count}}</div>
            </div>
          </div>
  </p>
</div>
{% endfor %}


  </body>
</html>
