<!DOCTYPE html>
<html>

  <head>
  <title>STORI</title>

      
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>

  </head>

  <body>

 

  <center><img src="../static/img/logo" style="width:304px;height:150px;" alt="logo"></center>
  <style style="margin-right: 75px;"> </style>
  
  <div class="UpperBar">
  
  <a href="http://127.0.0.1:5000/" class="linkbutton1">Home</a>
  <a href="http://127.0.0.1:5000/add" class="linkbutton1">Add Your Story</a> 
  <a href="http://127.0.0.1:5000/signin" class="linkbutton1">Sign In</a>
  <a href="http://127.0.0.1:5000/signup" class="linkbutton1">Sign Up</a>
  </div>

  <h2 class= "h1-5"> Top: </h2>

{% for box in stori_list %}
<div class="box">
<img src="/home/student/Desktop/Y2S17-seed-app/static/img/star.png">
  <p>
          <div class="tweet-container">
            <a href="BROKEN-LINK-FIX-ME" class="btn btn-info" role="button">Edit</a>
            <div class="tweet-body">
              <img class="tweet-img" src="{{box.pic_url}}" alt="picture-{{box.id}}">
              <div class="tweet-text">{{box.description}}</div>
            </div>
            <div class="tweet-footer">
              <div class="tweet-user">{{box.author}}</div>
              <div class="tweet-user">{{box.location}}</div>
              <div class="tweet-user">{{box.favorite_count}}</div>
            </div>
          </div>
  </p>
</div>
{% endfor %}


  </body>
</html>
