{% extends "layout.html" %}
{% block title %} Sign Up {% endblock %}

{% block content %}

<!--   <h1 class = 'h1-5'>Sign up</h1> -->
  
   <center>
   <div class="custom_form">
   <form>
    Username:
    <br>
    <input type="text" name="stori_name" placeholder="Choose your username..."> 
    <br>

    Email:
    <br>
    <input type="text" name="email" placeholder="Insert email..."> 
    <br>
    
    Password: 
    <br>
    <input type="password" name="password" placeholder="Password">
    <br>
    
    Verify password:
    <br>
    <input type="password" name="confirm_password" placeholder="Confirm password">
    <br>
    <input type="submit" name="Sign up" placeholder="sign up">

  </form>
  </div>
  </center>

{% endblock %}